<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div class="content tcenter">	
	<h1>Hello, add a Fruit</h1>
	<a class="font-medium" href="/add/">Add a fruit please </a>
</div>
	
<div class="content tcenter font-medium">	
	<a  href="/contactomail">Envianos un correo</a>
</div>
	<style>
	.content
		{
			border:1px solid black;
			margin: 1em auto;
			padding: 1em;
			width: 50%;
		}

	.tcenter
		{
			text-align: center;
		}
	
	.font-medium
		{
			font-size: 25px;
			padding:1em .7em ;

		}

	</style>
</body>
</html>